@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--background-1);
}
.header__title {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;

    h1{
        color: var(--color-1);
        font-family: "orbitron";
        font-size: 60px;
    };

}

.header__title-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: 100px;
    width: 500px;
    text-align: center;
    gap: 10px;
    h2{
        color: var(--color-1);
        font-family: "Hyperlegible-Bold";
        font-size: 25px;
    }
    span{
        color: var(--color-1);
        font-family: "MuktaMalar-Medium";
        font-size: 20px;
        line-height: 1.5;
    }
}

.header__title::after{
    content: "";
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 100%;
    background: var(--background-color);
    clip-path: ellipse(62% 70% at 50% 0%);
}
.header__title-search {
    background: var(--color-1);
    cursor: pointer;
    font-family: "MuktaMalar-Medium";
    margin-top: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-radius: 10px;
    
}
.header__information {
    /* background: blue; */
    width: auto;
    display: flex;
    padding: 40px;
    gap: 50px;
    justify-content: space-around;
    margin-top: 20px;
    
}
.border{
    padding: 4px;
    background: var(--border-gradient);
    border-radius: 12px;
    display: inline-block;
}
.cards__info {
    background: var(--background-1);
    display: flex;
    gap: 17px;
    width: 270px;
    height: 70px;
    align-items: center;
    justify-content: start;
    padding: 15px;
    border-radius: 10px;
}
.num__cards{
    font-family: "MuktaMalar-Bold";
    color: var(--color-1);
    font-size: 18px;
    line-height: 1;
}
/*************** main *********************/ 
.section__search {
    background: var(--background-1);
    padding: 20px;
}
.artcicle__tittle-search {
    /* background: green; */
    display: flex;
    justify-content: space-between;
}
.div__search-info {
    /* background: red; */
    padding-left: 20px;
    font-size: 18px;
    font-family: "Hyperlegible-Bold";
    color: var(--color-1);
}
.div__search {
    /* background: aqua; */
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.search{
    width: 300px;
    border-radius: 10px;
    padding: 5px;
    height: 40px;
}
/*****************sections artist***************************/
.trending__music {
    background: var(--background-1);
    padding: 35px;
    font-family: "Hyperlegible-Bold";
    color: var(--color-1);
}
.article__trending {
    background: red;
    padding: 20px;
}
.div__trending {
}
.section__artist {
    background: var(--background-1);
    padding: 35px;
    font-family: "Hyperlegible-Bold";
    color: var(--color-1);
}
.article__artist {
    background: red;
    padding: 20px;
}
.div__artist {
}
.section__albums {
    background: var(--background-1);
    padding: 35px;
    font-family: "Hyperlegible-Bold";
    color: var(--color-1);
}
.article__albums {
    background: red;
    padding: 20px;trends in progress
}
.div__albums {
}
