@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--background-1);
    height: 100vh;
    padding: 30px 20px;
    position: relative;
}

@keyframes moverGradiente {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

header::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0; 
    background: var(--background-color);
    clip-path: ellipse(100% 100% at 50% 50%);
    animation: fondoAnimado 10s ease-in-out infinite, moverGradiente 8s ease-in-out infinite;
    background-size: 200% 200%;
}

.header__title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.header__title h1 {
    color: var(--color-1);
    font-family: "orbitron";
    font-size: 140px;
    text-align: center;
}

.header__title-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    gap: 8px;

    h2 {
        color: var(--color-1);
        font-family: "Hyperlegible-Bold";
        font-size: 35px; 
    }

    span {
        color: var(--color-1);
        font-family: "MuktaMalar-Medium";
        font-size: 22px;
        line-height: 1.5;
    }
}

.header__title-search {
    background: var(--color-1);
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 40px;
    border-radius: 10px;
    
    a {
        text-decoration: none;
        color: inherit;
        font-family: "MuktaMalar-Medium";
        font-size: 20px;
    }
}

.header__information {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 20px 0;
    z-index: 1;
}

.border {
    padding: 4px;
    background: var(--border-gradient);
    border-radius: 12px;
    display: inline-block;
}

.cards__info {
    background: var(--background-1);
    display: flex;
    gap: 25px;
    width: 373px;
    height: 97px;
    align-items: center;
    justify-content: start;
    padding: 20px;
    border-radius: 10px;
}

.cards__info img {
    width: 35px;
}

.num__cards {
    font-family: "MuktaMalar-Bold";
    color: var(--color-1);
    font-size: 19px;
    line-height: 1;
}
/*************** main *********************/ 
.section__search {
    background: var(--background-1);
    padding: 20px;
}
.artcicle__tittle-search {
    /* background: green; */
    display: flex;
    justify-content: space-between;
}
.div__search-info {
    /* background: red; */
    padding-left: 20px;
    font-size: 25px;
    font-family: "Hyperlegible-Bold";
    color: var(--color-1);
}
.div__search {
    /* background: aqua; */
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.search {
    width: 100%;
    padding: 12px 18px;
    font-size: 1rem;
    border: 4px solid #ccc;
    border-radius: 12px;
    background-color: #111;
    color: white;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
/*****************sections artist***************************/
.trending__music,
.section__artist,
.section__albums {
  background: var(--background-1);
  padding: 35px;
  font-family: "Hyperlegible-Bold";
  color: var(--color-1);
}

.article__trending {
  padding: 20px;
  position: relative;
  overflow: hidden;
}

/**********cards**********/
.card {
    position: relative;
    width: 300px;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: var(--background-1);
    transition: transform 0.2s ease;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.149);
    overflow: hidden;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.447);
}

.card__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card__body {
    padding: 10px;
    color: white;
}

.card__title {
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: center;
    }
    
.card p {
    font-family: "MuktaMalar-Bold";
    font-size: 1.4rem;
    color: #ccc;
  }

.card__subtitle {
    font-size: 0.9rem;
    color: #ccc;
    margin-top: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}
/*******me gusta******************/
.card__like {
    position: absolute;
    height: 30px;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 6px;
    display: none;
    transition: opacity 0.2s ease;
  }
  
  .card:hover .card__like,
  .card.selected .card__like {
    display: block;
  }
  
  .card__like img {
    width: 20px;
    height: 20px;
    filter: invert(1);
  }
/*********corousel**************/
.carousel__container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 35px;
    padding: 20px 0;
  }
  
  .carousel__container::-webkit-scrollbar {
    display: none;
  }
  
  .carousel__btn {
    position: absolute;
    width: 45px;
    top: 40%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.6);
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    z-index: 2;
    border-radius: 50%;
  }
  
  .carousel__btn.left {
    left: 5px;
    
  }
  
  .carousel__btn.right {
    right: 5px;
  }

  /************responsive****************/
  @media (min-width: 800px) and (max-width: 1280px) {
    header {
    height: 100%;
    }
    .header__title-search {
      margin-top: 20px;
    }
    .header__information {
      display: flex;
      gap: 5px;
    }
  }
  
  @media (max-width: 768px) {
    .header__information {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    .artcicle__tittle-search {
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }
    .div__search-info {
      padding-left: 0;
      text-align: center;
    }
    .div__search {
      width: 100%;
      padding: 0 20px;
    }
    .carousel__btn {
      display: none;
    }
  }

  @media (max-width: 428px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background-color: var(--background-1);
        height: 100%;
        padding: 30px 20px;
        position: relative;
    }

    .header__title h1 {
        color: var(--color-1);
        font-family: "orbitron";
        font-size: 80px;
        text-align: center;
    }

    .trending__music,
    .section__artist,
    .section__albums {
      padding: 1px;
    }

    .article__trending {
      padding: 10px;
    }

    .card {
        width: 200px;
    }
        
  }