@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--background-1);
}
.header__title {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;

    h1{
        color: var(--color-1);
        font-family: "orbitron";
        font-size: 60px;
    };

}

.header__title-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: 100px;
    width: 500px;
    text-align: center;
    gap: 10px;
    h2{
        color: var(--color-1);
        font-family: "Hyperlegible-Bold";
        font-size: 25px;
    }
    span{
        color: var(--color-1);
        font-family: "MuktaMalar-Medium";
        font-size: 20px;
        line-height: 1.5;
    }
}

.header__title::after{
    content: "";
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 100%;
    background: var(--background-color);
    clip-path: ellipse(62% 70% at 50% 0%);
}
.header__title-search {
    background: var(--color-1);
    cursor: pointer;
    font-family: "MuktaMalar-Medium";
    margin-top: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-radius: 10px;
    
}
.header__information {
    /* background: blue; */
    width: auto;
    display: flex;
    padding: 40px;
    gap: 50px;
    justify-content: space-around;
    margin-top: 20px;
    
}
.border{
    padding: 4px;
    background: var(--border-gradient);
    border-radius: 12px;
    display: inline-block;
}
.cards__info {
    background: var(--background-1);
    display: flex;
    gap: 17px;
    width: 270px;
    height: 70px;
    align-items: center;
    justify-content: start;
    padding: 15px;
    border-radius: 10px;
}
.num__cards{
    font-family: "MuktaMalar-Bold";
    color: var(--color-1);
    font-size: 18px;
    line-height: 1;
}
/*************** main *********************/ 
.section__search {
    background: var(--background-1);
    padding: 20px;
}
.artcicle__tittle-search {
    /* background: green; */
    display: flex;
    justify-content: space-between;
}
.div__search-info {
    /* background: red; */
    padding-left: 20px;
    font-size: 18px;
    font-family: "Hyperlegible-Bold";
    color: var(--color-1);
}
.div__search {
    /* background: aqua; */
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.search{
    width: 300px;
    border-radius: 10px;
    padding: 5px;
    height: 40px;
}
/*****************sections artist***************************/
.trending__music,
.section__artist,
.section__albums {
  background: var(--background-1);
  padding: 35px;
  font-family: "Hyperlegible-Bold";
  color: var(--color-1);
}

.article__trending {
  padding: 20px;
  position: relative;
  overflow: hidden;
}

/**********cards**********/
.card {
    position: relative;
    width: 220px;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: var(--background-1);
    transition: transform 0.2s ease;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.05);
    overflow: hidden;
    cursor: pointer;
  }

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.card__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .card__body {
    padding: 10px;
    color: white;
  }

  .card__title {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
  }.card p {
    font-size: 0.9rem;
    font-weight: normal;
    color: #ccc;
  }
  .card__subtitle {
    font-size: 0.9rem;
    color: #ccc;
    margin-top: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
  }
/*******me gusta******************/
.card__like {
    position: absolute;
    height: 30px;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 6px;
    display: none;
    transition: opacity 0.2s ease;
  }
  
  .card:hover .card__like,
  .card.selected .card__like {
    display: block;
  }
  
  .card__like img {
    width: 20px;
    height: 20px;
    filter: invert(1);
  }
/*********corousel**************/
.carousel__container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 10px 0;
  }
  
  .carousel__container::-webkit-scrollbar {
    display: none;
  }
  
  .carousel__btn {
    position: absolute;
    width: 45px;
    top: 40%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.6);
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    z-index: 2;
    border-radius: 50%;
  }
  
  .carousel__btn.left {
    left: 5px;
    
  }
  
  .carousel__btn.right {
    right: 5px;
  }