:root{
    --background-1: #1A1E1F;
    --border-gradient: linear-gradient(139deg, rgb(63, 94, 251), rgb(149, 83, 185), rgb(252, 70, 106));;
    --background-color: linear-gradient(139deg, rgb(63, 94, 251) 0%, rgb(149, 83, 185) 41%, rgb(252, 70, 106) 100%);
    --color-1: #fff;
}

@font-face {
    font-family: "orbitron";
    src: url(../storage/fond/Orbitron/static/Orbitron-Bold.ttf);
}
@font-face {
    font-family: "Hyperlegible-Bold";
    src: url(../storage/fond/Atkinson_Hyperlegible/AtkinsonHyperlegible-Bold.ttf);
}
@font-face {
    font-family: "MuktaMalar-Medium";
    src: url(../storage/fond/Mukta_Malar/MuktaMalar-Medium.ttf);
}
@font-face {
    font-family: "MuktaMalar-Bold";
    src: url(../storage/fond/Mukta_Malar/MuktaMalar-Bold.ttf);
}